<ul class="messages" #messageList (scroll)="listScroll($event)">
  <li *ngFor="let message of messages" [class.divider]="message.divider">
    <div class="username">{{ message.user.username }}</div>
    <div class="message" [style.background-color]="'rgb('+message.user.color+')'">
      <div class="text">{{ message.text }}</div>
      <aside class="info">@ {{ message.server_timestamp | date:'jms' }}</aside>
    </div>
  </li>
</ul>

<div class="chat-input">
  <textarea [(ngModel)]="messageText" (keypress)="keypress($event)"></textarea>
  <button (click)="sendMessage()">Send</button>
</div>
