@keyframes messageAppear {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
}

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.messages {
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  flex: 5 0 80%;
  overflow-y: scroll;

  li {
    flex: 0 0 auto;
    display: flex;

    .username {
      flex: 0 1 auto;
      text-align: right;
    }

    .message {
      flex: 10 1 auto;
    }
  }

  li.divider {
    margin-top: 10px;

    .message {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  li:not(.divider) {
    .username {
      opacity: 0;
    }
  }

  .username {
    padding: 0.3em 0.6em;
  }

  .message {
    padding: 0.3em 0.6em;
    background-color: white;
    display: flex;
    align-items: center;
    transform-origin: left;
    animation: messageAppear 0.3s ease-in 1 forwards;
    
    .text {
      flex: 1 1 auto;
    }

    .info {
      flex: 0 0 auto;
      font-size: 0.8em;
      color: rgba(#000,0.3);
    }
  }

}

.chat-input {
  flex: 1 0 20%;
  display: flex;

  textarea {
    flex: 1 1 auto;
    font-size: 1.6em;
  }
}
