<ul class="messages" #messageList (scroll)="listScroll($event)">
  <li *ngFor="let message of messages" [class.divider]="message.divider">
    <div class="username">{{ message.user.username }}</div>
    <div class="message" [style.background-color]="'rgb('+message.user.color+')'">
      <div class="text">{{ message.text }}</div>
      <aside class="info">@ {{ message.server_timestamp | dateformat:'h:mm:ss a' }}</aside>
    </div>
  </li>
</ul>

<form class="chat-input" (submit)="sendMessage()">
  <textarea
      #messageTextArea
      name="messageText"
      [(ngModel)]="messageText"
      autofocus="autofocus"
      (keypress)="keypress($event)">
  </textarea>
  <button type="submit">Send</button>
</form>
