<div *ngIf="Auth.loggedIn">
  <div *ngIf="Auth.currentUser">
    {{ Auth.currentUser.username }}
  </div>
  <button (click)="logout()">Log out</button>
</div>
<div *ngIf="!Auth.loggedIn">
  <form>
    <label>
      <div class="inner-label">Username</div>
      <input name="username" [(ngModel)]="username" placeholder="Username">
    </label>
    <label>
      <div class="inner-label">Password</div>
      <input name="password" type="password" [(ngModel)]="password" placeholder="password">
    </label>

    <button type="submit" (click)="login(username, password)">Log in</button>
  </form>
  <a routerLink="/signup">Create an account</a>
</div>
