<div *ngIf="Auth.loggedIn">
  <span class="username" *ngIf="Auth.currentUser">{{ Auth.currentUser.username }}</span>
  <button (click)="logout()">Log out</button>
</div>
<div *ngIf="!Auth.loggedIn">
  <form class="login-form">
    
    <div>
      <label class="input-wrapper">
        <div class="inner-label">Username</div>
        <input
            name="username"
            type="text"
            autocorrect="off"
            autocapitalize="none"
            [(ngModel)]="username"
            placeholder="Username">
      </label>
    </div>

    <div>
      <label class="input-wrapper">
        <div class="inner-label">Password</div>
        <input
            name="password"
            type="password"
            autocorrect="off"
            autocapitalize="none"
            [(ngModel)]="password"
            placeholder="password">
      </label>
    </div>

    <div>
      <button type="submit" (click)="login(username, password)">Log in</button>
      <a routerLink="/signup">Create an account</a>
    </div>
  </form>
</div>
